*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    background: linear-gradient(to left, #3a0f0f, #b30a34); /* #31a844, #04231c --  */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    overflow: hidden;
    height: max(100vh, auto);
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "header header header"
        "redes main main"
    ;
}

@media (max-width: 1200px){
    .container{
        grid-template-areas:
            "header"
            "redes"
            "redes"
        ;
    }
}

/* Wave and your animation */
.wave{
    position: absolute;
    position: fixed;
    bottom:0;
    top:100;
    left:0;
    right:0;
    animation: wave 5s ease-in-out infinite alternate;
    width: 120vw;
    height: 100;
}

@keyframes wave{
    from {
        transform: translateX(0px);
    }
    to{
        transform: translateX(-75px);
    }
}

/* HEADER */

.header{
    position: fixed;
    grid-area: header;
    padding: 0.95em;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    z-index:3;
}

.logo{
    max-width: 350px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    background: linear-gradient(120deg, #fff, #bd334f );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0vh 10vw;
}

.header nav a{
    position: relative;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    color: #fff;
    font-size: 1.125em;
}

.header nav a::after{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.header nav a::after{
    border-bottom: 2px solid #d06c80;
    transform: scaleX(0);
}

.header nav a:focus::after,
.header nav a:hover::after{
    transform: scaleX(1);
}

/* RESPONSIVIDADE HEADER */
@media(max-width: 688px){
    .header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
        ;
        justify-items: center;
    }
    .header nav ul{
        grid-area: nav;
        display: flex;
    }
    .header nav a{
        position: relative;
        text-decoration: none;
        padding: .3em;
        margin: 0 .37em;
        color: #fff;
        font-size: .875em;
    }
    .captcha{
        display: none;
    }
}

/* REDES SOCIAIS */

.redes{
    grid-area: redes;
    padding: 5px;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    height: 100vh;
}

.redes nav i{
    font-size: 1.5em;
    padding: 8px;
    color: #fff;
    margin-bottom: 5px;
}

.redes nav i:active,
.redes nav i:hover{
    text-shadow: 5px 5px 20px #fff;
}

/* MAIN */

.main{
    position: absolute;
    grid-area: main;
    z-index:1;
    /* min-width:900px; */
    padding: 0 10vw;
    padding-top: 20vh;
    display: grid;
    margin: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "title form"
    ;
}

.title{
    grid-area: title;
    grid-row: 1 / -1;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "titulo"
        "p"
        "a"
    ;
}

.title h1{
    grid-area: titulo;
    grid-column: 1 / -1;
    font-size: min(2.5em, 30vw);
    border-left: 12px solid #fff;
    padding: 0 0 0 15px;
    align-self: center;
    color: #fff;
}

.title p{
    grid-area: p;
    grid-row: 2/3;
    font-size: 1.125em;
    color:rgba(255, 255, 255, 0.7);
    padding: 3vh 0px 5vh 10px;
    font-style: italic;
}

.title a{
    grid-area: a;
    width: auto;
    /* grid-column: 1 / -1; */
    text-decoration: none;
    padding: 0.6em;
    background: rgba(255, 255, 255, 0.8);
    font-size: 2em;
    color: #202020;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.title a:active,
.title a:hover{
    background: #fff;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.685);
}

.form{
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3vh 0vw;
    /* width: min(100vw, 80%); */
    align-items: center;
    /* justify-items: center; */
    /* border: 1px solid #fff; */
    margin: 5vh 3vw 3vh;
    /* width: minmax(40vw); */
    /* background: #ffff00; */
}

.form label{
    color: rgba(255, 255, 255, 0.7);
    padding: 0vh auto;
    font-size: 1.4em;
    /* margin-top: 4vh; */
}

.form label input{
    text-decoration: none;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.413);
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #fff;
    font-size: .875em;
    padding: 1vh;
    width: 30vw;
    text-indent: 1.3ch;
    transition: .5s ease-in;
}

.form label input:focus,
.form label input:active{
    list-style: none;
    border-radius: 2px;
    /* background: #fff;
    color: #000; */
}

/* .form button{
    font-size: 1.125em;
    padding: 2vh 7vw;
    margin-left: 1vw;
    color: #000000;
    background: #fff;
    grid-column: 2 / -2;
    border-radius: 5px;
    cursor: pointer;
} */

 .email{
    grid-area: a;
    width: auto;
    /* grid-column: 1 / -1; */
    text-decoration: none;
    padding: 0vh 0.2em;
    background: rgba(255, 255, 255, 0.8);
    font-size: 2em;
    color: #202020;
    border-radius: 10px;
    display: block;
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.email:active,
.email:hover{
    background: #fff;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.685);
}

.captcha{
    margin-left: 12%;
    width: 30%;
    background: rgba(255, 255, 255, 0.2);
}


@media(max-width: 1200px){
    .header{
        position: fixed;
        background: linear-gradient(to left, #202020, #000);
        border-bottom: 1px solid #fff;
    }
    .wave{
        position: absolute;
        position: fixed;
        bottom:0;
        top:100;
        left:0;
        right:0;
        animation: wave 5s ease-in-out infinite alternate;
        width: 120vw;
        height: 100;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        padding-top: 14vh;
    }
    .title{
        max-height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
    }
    .title h1{
        /* grid-row: 1 / -1; */
        grid-column: 1 / -1;
        font-size: min(2.5em, 10vw);
        border-left: 12px solid #fff;
        padding: .5vh 0 0 15px;
        flex-direction: row;
        align-self: center;
        color: #fff;
        margin-top: 2vh;
    }
    
    .title p{
        grid-column: 1 / -1;
        grid-row: 2 /-2;
        font-size: 1.125em;
        color:rgba(255, 255, 255, 0.7);
        font-style: italic;
        padding: 5vh 0vw 1vh;
        padding-bottom: 10vh;
    }
    
    .title a{
        display: block;
        margin: auto;
        width: auto;
        grid-column: 1 / 4;
        text-decoration: none;
        padding: 0.6em 2vw;
    }

    .section-form {
        padding: 0vh 17vw;
    }

    .form{
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
        grid-gap: 2vh 0vw;
        /* width: min(100vw, 80%); */
        width: 100%;
        align-items: center;
        /* justify-items: center; */
        margin: 5% auto;
        /* width: minmax(40vw); */
        /* background: #727221; */
    }
    .form label{
        color: rgba(255, 255, 255, 0.7);
        /* padding: 0vh 0vw; */
        font-size: 1.3em;
        /* margin-top: 0vh; */
        /* margin-right: 20vw; */
        /* grid-column: 1 / -1; */
    }
    
    .form label input{
        text-decoration: none;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.413);
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 5px;
        font-size: .875em;
        min-width: 100%;
        transition: .5s ease-in;
        text-decoration: none;
        text-indent: 1.3ch;
    }
    .email{
        font-size: 1.125em;
        padding: 1vh 7vw;
        margin: 0vh 0vh 2.5vh;
        color: #fff;
        /* background: linear-gradient(to top, #bd334f 10%, #202020 20%, #bd334f 90%); */
        /* background: linear-gradient(to top, #ffd0d9 10%, #202020 20%, #ffd0d9 90%); */
        color: #202020;
        border: .5px solid #fff;
        grid-column: 2 / -2;
    }
    .email:active,
    .email:hover{
        /* background: linear-gradient(to top, #bd334f 10%, #202020 20%, #bd334f 90%); */
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.685);
    }
    .captcha{
        margin-left: min(19% 15%);
    }
}

/* RESPONSIVIDADE DO FORM */
@media(max-width: 530px){
    .section-form {
        padding: 0vh 1vw;
    }
    .form{
        margin-left: 1vw;
        padding-left: 5vw;
        padding-right: 2vw;
    }
    .form label input{
        width: 50vw;
        text-indent:0;
    }
    .email {        
        margin-left: 5vw;
    }
}