@charset "utf-8";
*{
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
}

#topo{
	height: 60px;
	position: relative;
	background-color: white;
}

#logo{
	position:absolute;
	z-index: 2;
	width: 175px;
	height: 70px;
	top: calc(50% - 40px);
	left: 330px;
}

#menu{
	position: absolute;
	right: 350px;
	top: 50%;
}

#menu ul li{
	display: inline-block;
	padding: 0px 30px;
	font-size: 16px;
	color:black;
}

#menu ul li a{
	color: black;
	text-decoration: none;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	transition: border .6s, color .3s;
	padding: 0 0 23px 0;
}

#menu ul li a:hover{
	border-bottom: 3px solid #ff7c00;
}

#banner{
	height: auto;
	position: relative;
}

#menus{
	width: 1024px;
	background-color: #fff;
	margin:auto;
	height: 780px;
	margin-top: 0px;
	position: relative;
	padding: 20px 30px;
}

.txtmenus{
	text-align: center;
}

.coluna1{
	width: 250px;
	height: 250px;
	float: left;
	padding-left: 30px;
	margin-left: 40px;
	margin-top: 90px;
}

.columtitle{
	text-align: center;
	color: black;
	font-size: 22px;
	font-weight: bold;
}

.imgcolum{
	border-style: solid;
	border-radius:  50%;
	padding: 10px;
	border-color: rgba(0,0,0,.4);
	background-color: #ffb670;
	transition: box-shadow 3s ease-in-out;
	transition: padding .4s ease-in-out;
	box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
}

.imgcolum:hover{
	box-shadow: 0 0 0 8px #ff7c00, 0 0 0 8px #ff7c00;
	background-color: #ff7c00;
	border-color: rgba(0,0,0,.0);
	padding: 20px;
}

#banner2{
	height: 550px;
	background-color: aqua;
	position: relative;
	background-image: url("img/banner2.png")
}
.boxbanner2{
	width: 340px;
	height: 140px;
	position: absolute;
	margin-top: 130px;
	margin-left: 290px;
	float: left;
}

.txtb2{
	font-size: 14px;
	color: white;
	text-align: justify;
	margin-left: 50px;
}

.boxbanner21{
	width: 340px;
	max-height: 140px;
	position: absolute;
	margin-top: 130px;
	margin-left: 290px;
}

.txtb21{
	font-size: 14px;
	color: white;
	text-align: justify;
	position: absolute;
	max-height: 126px;
	width: 340px;
	left: 450px;
}

#boxbanner22{
	width: 340px;
	max-height: 140px;
	position: absolute;
	top: 350px;
	left: 300px;
}

#boxbanner23{
	width: 340px;
	max-height: 140px;
	position: absolute;
	top: 350px;
	left: -160px;
}


/*Pagina de suporte*/

#banner-sup{
	height: 120px;
	background-color: #000;
	border: 1px solid #d96a00;
	margin-top: 13px;
	position: relative;
}

#banner-sup h1{
	text-align: left;
	margin-left: 500px;
	color: #FFF;
	line-height: 120px;
}

#banner-sup img{
	position: absolute;
	right: 400px;
	top: 10px;
}

#cont-sup{
	
	height: 660px;
	position: relative;
}

#cont-sup-1{
	position: absolute;
	font-size: 18px;
	top: 50px;
	left: 200px;
}

#cont-sup-2{
	position: absolute;
	font-size: 18px;
	top: 250px;
	left: 200px;
}

#cont-sup-3{
	position: absolute;
	font-size: 18px;
	top: 450px;
	left: 200px;
}

#cont-sup-4{
	position: absolute;
	top: 50px;
	right: 300px;
	font-size: 14px;
	
}

#cont-sup-4 a{
	margin: 10px;
	text-decoration: none;
	color: darkorange;
}

#cont-sup-4 img{
	position: absolute;
	top:200px;
	right: 0px;
}

.img-sup-banner{
	margin-top: 15px;
}

#rodape{
	height: 120px;
	background-color: #7b888f;
	position: relative;
}

#rodape h2{
	position: absolute;
	font-size: 1.3em;
	top: 25px;
	right: 560px;
}

.mySlides{
	display: none;
}


#rodape h1{
	font-size: 1.3em;
	position: absolute;
	top: 25px;
	left: 400px;
}

/* precos */
.preco{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    align-items: flex-end;
}

.preco-item{
    flex: 1 1 260px;
    border: 4px solid #a4a4a4;
    padding: 20px;
    margin: 10px;
}

.preco-item h2{
    color:#a4a4a4;
    font-size: 3em;
    text-align: center;
}

.preco-item span{
    display: block;
    max-width: 300px;
    font-size: 3em;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0 5px 0;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.preco-item sup{
    font-size: 1.5rem;
}

.preco-item ul{
    max-width: 300px;
    font-size: 1.25em;
    color: #7c7c7c;
    margin: 20px auto;
    font-style: italic;
    list-style: none;
    line-height: 1;
}

.preco-item li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
}

.preco-item li::after{
    content:'';
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #2c70ff;
}

.preco-item a{
    display: block;
    border: 4px solid #222;
    text-align: center;
    color:#222;
    font-weight: bold;
    font-size: 2.25em;
    padding: 10px 0;
}

@media(max-width:800px){
    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }

    .preco .preco-item:nth-child(3) {
        order:-2;
    }

    .preco .preco-item:nth-child(2) {
        order:-1;
    }
}